<html>
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="/statics/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/statics/vendor/bootstrap-editable/css/bootstrap-editable.css" type="text/css" />
    <link rel="stylesheet" href="/statics/vendor/simplecolorpicker/jquery.simplecolorpicker.css" type="text/css" />
    <link rel="stylesheet" href="/statics/vendor/messenger/build/css/messenger.css" type="text/css" />
    <link rel="stylesheet" href="/statics/vendor/messenger/build/css/messenger-theme-future.css" type="text/css" />
    <link rel="stylesheet" href="/statics/css/style.css" type="text/css" />

    <script type="text/javascript" src="/statics/vendor/async.js"></script>
    <script type="text/javascript" src="/statics/vendor/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/statics/vendor/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/statics/vendor/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/statics/vendor/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/statics/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/statics/vendor/bootbox.js"></script>
    <script type="text/javascript" src="/statics/vendor/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript" src="/statics/vendor/simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <script type="text/javascript" src="/statics/vendor/messenger/build/js/messenger.js"></script>
    <script type="text/javascript" src="/statics/vendor/messenger/build/js/messenger-theme-future.js"></script>
    <script type="text/javascript" src="/statics/vendor/nod.js"></script>

    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script type="text/javascript" src="/statics/vendor/OpenLayers-2.12/lib/OpenLayers.js"></script>
    <script type="text/javascript" src="/statics/js/CustomLayers.js"></script>
    <script type="text/javascript" src="/statics/js/Editor/loader.js"></script>

    <script type="text/javascript" src="/statics/vendor/jquery.ba-serializeobject.js"></script>
    <script type="text/javascript" src="/statics/js/boostrap-modal-helper.js"></script>
    <script type="text/javascript" src="/statics/js/auth.js"></script>
    <script type="text/javascript" src="/statics/js/modal/users-register.js"></script>


    <style>
    .fileinput-button {
        position: relative;
        overflow: hidden;
        float: left;
        margin-right: 4px;
      }
      .fileinput-button input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
      }
    </style>

    <script type="text/javascript">
      var map, editeur;

      function init (user) {
        map = new OpenLayers.Map ('map', {
          numZoomLevels: 20,
          displayProjection: 'EPSG:4326',
          //projection: 'EPSG:4326',
          controls : [
          new OpenLayers.Control.Navigation(),
            new OpenLayers.Control.PanZoomBar (),
          new OpenLayers.Control.LayerSwitcher(),
          ],
          layers: [
            new OpenLayers.Layer.Google.Terrain      ('Google'),
            new OpenLayers.Layer.Google              ('Google map',    {visibility: false}), // Cachées au début sinon, apparaissent fugitivement
            new OpenLayers.Layer.Google.Photo        ('Google photo',  {visibility: false}),
            new OpenLayers.Layer.Google.Hybrid       ('Google hybrid', {visibility: false}),

            new OpenLayers.Layer.OSM                 ('OSM'),

            // Demander une clé de production sur: http://pro.ign.fr/api-web => Service en ligne => S'ABONNER
            new OpenLayers.Layer.IGN                 ('IGN',       'okmmxuvvc0i4no00eyvunx1g'),
          ]
        });
        map.setCenter (
          new OpenLayers.LonLat (2.4,47)
            .transform (map.displayProjection, map.getProjectionObject()),
          10
        );

        var editor = new OpenLayers.Editor(map, user);

        // geolocation control
        var geolocate = new OpenLayers.Control.Geolocate({
            bind: true,
            geolocationOptions: {
                enableHighAccuracy: true,
                maximumAge: 0,
                timeout: 7000
            }
        });
        map.addControl(geolocate);
        geolocate.activate();
      }
      $(window).load(function() {

        Messenger.options = {
          extraClasses: 'messenger-fixed messenger-on-bottom',
          theme: 'future'
        }
        initAjaxAuth();
        $.get('/auth/current', function (user, status) {
          if (status == "success") {
            init(user);
          }
        });

      });
    </script>

  </head>
  <body style="margin:0px; height: 100%; width: 100%">
    <div id="map" style="margin:0px; height: 100%; width: 100%"></div>

    <!- Login form -->

      <div id="users-login-form" class="modal hide fade" data-keyboard="false" data-backdrop="static">
        <form  class="form-horizontal" action="/auth/login" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Authentification</h3>
          </div>

          <div class="modal-body">
            <div class="control-group">
              <label class="control-label" for="email">Adresse email</label>
              <div class="controls">
                <input type="text" data-nod="email" name="email" id="email" placeholder="Adresse email">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="password">Mot de passe</label>
              <div class="controls">
                <input type="password" data-nod="min-length:8" name="password" id="password" placeholder="Mot de passe">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input name="remember" type="checkbox"> Se souvenir de moi
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#none" data-href="#users-creation-form" class="">Créer mon compte</a>
            <a href="#none" data-dismiss="modal" class="btn">Annuler</a>
            <button type="submit" class="btn btn-primary" disabled="disabled">Valider</button>
          </div>
        </form>
      </div>



    <!- Create account form -->

      <div id="users-creation-form" class="modal hide fade">
        <form class="form-horizontal" action="/auth/register" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Création de compte</h3>
          </div>

          <div class="modal-body">

            <div class="control-group">
              <label class="control-label" for="username">Nom</label>
              <div class="controls">
                <input data-nod="min-length:5" type="text" name="username" id="users-creation-form-username" placeholder="Nom">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="email">Adresse email</label>
              <div class="controls">
                <input type="text" data-nod="email" name="email" id="users-creation-form-email" placeholder="Adresse email">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="password">Mot de passe</label>
              <div class="controls">
                <input type="password" data-nod="min-length:8" name="password" id="users-creation-form-password" placeholder="Mot de passe">
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <a href="#none" data-dismiss="modal" class="btn">Annuler</a>
            <button type="submit" class="btn btn-primary" disabled="disabled">Valider</button>
          </div>
        </form>
      </div>


  </body>
</html>