.modal
  form
    margin-bottom 0

.simplecolorpicker
  &.icon
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

.olTileImage
  max-width none
  vertical-align none
  border none

.separator
  height 22px
  width 2px
  background-color  rgb(196, 196, 196)

.toolbox
  position absolute
  right 8px
  top 8px
  cursor pointer
  width 150px

ul.nav
  li:hover
    background-color transparent
  a:hover
    background-color transparent

.olEditorControlPanelEditTrack

    cursor pointer
    width 100%
    position relative
    box-sizing border-box

    .title-color, .tools
      margin-bottom 5px
      width 100%
      position relative
      display inline-block
      & > div
        float left

    .tools
      button
        height 28px
        margin-right 2px

  .olEditorControlGeoLoc
    box-sizing border-box
    .add-on
      height 12px
      padding 6px 2px 3px 2px
      line-height 10px
    input
      width 120px
      height 23px





.olEditorControlPanelMapToolBar
  position absolute
  left 8px
  top 8px
  & > div
    display block
    //vertical-align top
    float left
    margin-right 5px

  ul
    list-style-type none
    margin-top 10px
    margin-left 0

  &.olEditorControlMyTracks
    > ul
      li
        div
          float right
          a
            margin-left 5px



