.modal form {
  margin-bottom: 0;
}
.simplecolorpicker.icon {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.olTileImage {
  max-width: none;
  vertical-align: none;
  border: none;
}
.separator {
  height: 22px;
  width: 2px;
  background-color: #c4c4c4;
}
.toolbox {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 150px;
}
ul.nav li:hover {
  background-color: transparent;
}
ul.nav a:hover {
  background-color: transparent;
}
.olEditorControlPanelEditTrack {
  cursor: pointer;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.olEditorControlPanelEditTrack .title-color,
.olEditorControlPanelEditTrack .tools {
  margin-bottom: 5px;
  width: 100%;
  position: relative;
  display: inline-block;
}
.olEditorControlPanelEditTrack .title-color > div,
.olEditorControlPanelEditTrack .tools > div {
  float: left;
}
.olEditorControlPanelEditTrack .tools button {
  height: 28px;
  margin-right: 2px;
}
.olEditorControlGeoLoc {
  box-sizing: border-box;
}
.olEditorControlGeoLoc .add-on {
  height: 12px;
  padding: 6px 2px 3px 2px;
  line-height: 10px;
}
.olEditorControlGeoLoc input {
  width: 120px;
  height: 23px;
}
.olEditorControlPanelMapToolBar {
  position: absolute;
  left: 8px;
  top: 8px;
}
.olEditorControlPanelMapToolBar > div {
  display: block;
  float: left;
  margin-right: 5px;
}
.olEditorControlPanelMapToolBar ul {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 0;
}
.olEditorControlPanelMapToolBar.olEditorControlMyTracks > ul li div {
  float: right;
}
.olEditorControlPanelMapToolBar.olEditorControlMyTracks > ul li div a {
  margin-left: 5px;
}
